# Dependencies
node_modules/
.pnp
.pnp.js

# Builds / output
dist/
build/
out/
.next/
.turbo/
*.tsbuildinfo

# Env & secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# Caches
.cache/
.eslintcache
coverage/

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
new-sserver-info